#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
   height: 400px;
   margin: auto;
}


.grid {
    width: 31.25px;
    height: 30px;
}

.menuContainer {
    align-items: left;
    margin-left: 2%;
}